atomicwrites==1.4.0
attrs==19.3.0
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.3
idna==2.10
more-itertools==8.3.0
packaging==20.4
pluggy==0.13.1
py==1.8.1
pyparsing==2.4.7
pytest==5.4.3
pytest-assume==2.4.2
pytest-html==3.1.1
pytest-metadata==1.11.0
requests==2.25.1
selenium==3.141.0
six==1.15.0
soupsieve==2.2.1
urllib3==1.26.4
wcwidth==0.2.4
